### Calculating Errors

There are two datasets available in this dataset that represent two of the examples you have seen in this lesson.  

One dataset is based on the parachute example, and the second is the judicial datast.  None of the dataset in these datasets pertains to real people.

Use the questions below to assist in answering the quiz questions at the bottom of this page.

In [1]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('./data/judicial_dataset_predictions.csv')
par_data = pd.read_csv('./data/parachute_dataset.csv')

In [2]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [3]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

`1.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **jud_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 1 below.

In [4]:
jud_data[jud_data['actual'] != jud_data['predicted']].shape[0]/jud_data.shape[0] # Number of errros

0.042152958945489497

In [5]:
jud_data.query("actual == 'innocent' and predicted == 'guilty'").count()[0]/jud_data.shape[0] # Type 1

0.001510366607167376

In [6]:
jud_data.query("actual == 'guilty' and predicted == 'innocent'").count()[0]/jud_data.shape[0] # Type 2

0.04064259233832212

`2.` Above, you can see the actual and predicted columns for each of the datasets.  Using the **par_data**, find the proportion of errors for the dataset, and furthermore, the percentage of errors of each type.  Use the results to answer the questions in quiz 2 below.

In [7]:
par_data[par_data['actual'] != par_data['predicted']].shape[0]/par_data.shape[0] # Number of errros

0.039972551037913875

In [8]:
par_data.query("actual == 'fails' and predicted == 'opens'").count()[0]/par_data.shape[0] # Type 1

0.00017155601303825698

In [9]:
par_data.query("actual == 'opens' and predicted == 'fails'").count()[0]/par_data.shape[0] # Type 2

0.03980099502487562